html,
body {
  height: 100%;
  margin: 0;
  overflow-y: hidden;
}

body {
  background: #322f2e url('./static/wallpaper.png') no-repeat center;
  background-size: 100%;
}

#wrapper {
  display: flex;
  flex-flow: column;
  margin: 10px;
  height: 96%;
}

#main {
  background-color: #1d2021;
  padding: 10px 20px;
  overflow: auto;
  margin: 10px 0;
  flex: 1 1 auto;
  opacity: 0.95;
}

#main a, a:visited {
  color: #83a598;
  text-decoration: none;
}

#main a:hover {
  color: #458588;
  font-style: italic;
  text-decoration: underline;
}

#buttons,
#header {
  background: #1d2021;
  padding: 10px 0;
  flex: 0 1 auto;
  opacity: 0.95;
}

#buttons img {
  width: 88px;
  height: 31px;
}

#nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#nav ul li {
  display: inline;
  margin: 0 10px;
  font-size: 15px;
}

#nav ul li a {
  text-decoration: none;
  color: #ebdbb2;
  padding: 10px 15px;
}

#nav ul li span {
  text-decoration: none;
  color: #928374;
  padding: 10px 15px;
}

#nav ul li a:hover {
  color: #fabd2f;
}
